.general{
    padding: 0px;
    position: relative;
    top: 100px;
}

.maintitle{
    font-family: 'Raleway Bold';
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.secondarytitle{
    font-family: 'Raleway SemiBold';
    font-weight: 400;
    text-align: center;
}

.pricelistHolder{
    margin-bottom: 50px;
}

.pricelist{
    font-family: 'Raleway';
    display: block;
    width: 50%;
    margin: auto;
}

.pricelistTitle{
    text-align: center;
}

.pricelistTitle1{
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: 'Raleway Bold';
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

.hl {
    grid-area: l;
    background-color: rgb(134, 134, 134);
    width: 100%;
    height: 0.5px;
    border-top: 1px black;
    line-height: 100%;
    
}

.pricelistitem{
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 
    'n p'
    'l l'
    'd d';
    position: relative;
}

.pricelistitemname{
    grid-area: n;
    text-align: left;
    cursor: pointer;

}

.pricelistitemprice{
    grid-area: p;
    display: flex;
    text-align: left;
    align-items: center;
}

.pricelistitemdesc{
    line-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    grid-area: d;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    transform-origin: top right;
    transform: scaleY(0);
    transition: all ease-in-out 1.5s;
}

.pricelistitemdescactive{
    /* transition: all ease-in-out 0.3s; */
    /* animation: dropdown 2s;
    transform-origin: top; */
    margin-top: 10px;
    border: 0.5px solid #D6AB7E;
    padding: 10px 15px;
    line-height: 1.5;
    opacity: 1;
    transform: scaleY(1);
}

.descimginit{
    border-radius: 1rem;
    height: 0;
    width: 105px;
    transform: translateY(-100px);
    transform-origin: top right;
    transition: all ease-in-out 1.5s;
}

.descimg{
    transform: translateY(0);
    height: 150px;
}

.descimgdiv{
    margin-right: 10px;;
}


/* .pricelistitemdescactive:hover{
    transform: scale(1.1);
    box-shadow: 0px 3px 3px #D6AB7E;
} */

@keyframes dropdown {
    0%   {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}
  
.contacts{
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}

.map{
    text-align: center;
}

.map a img{
    width: 600px;
}

.gallery{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagediv{
    padding: 15px;
}

.image{
    box-shadow: 1em .5em 1em #D6AB7E;
    border-radius: 1rem;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.forModalBtns{
    text-align: center;
}

@media screen and (max-width: 782px) {
    .general{
        top: 50px;
    }

    .map a img{
        width: 90vw;
    }

    .pricelist{
        width: 60vw;
    }
    
}

@media screen and (max-width: 500px){
    .pricelist{
        width: 80vw;
    }
}