.general {
    margin: 10px 0;
    text-align: center;

}

.rateTitle {
    margin: 50px 0 30px 0;
}

.formHolder {
    position: relative;
    width: 50%;
    border-radius: 15px;
    margin: auto;
    background-color: #d5c9ba;
    transition: 1s ease-in-out;
}

/* .formHolder:hover,
.formHolder:focus-within{
    background-color: #d18b3ab0;
} */

.reviewForm {
    padding: 10px 0;
    position: relative;
    z-index: 5;
}

.gridInputs {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.flexInputs {
    display: flex;
    justify-content: center;
    position: relative;
    width: min-content;
    margin: auto;
}

.flexInputs label {
    cursor: pointer;
}

.reviewForm div input[name=name],
.reviewForm div input[name=email] {
    width: 75%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.reviewForm div textarea[name=feedback] {
    width: 75%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 7px;

}

.reviewForm div input[type=submit] {
    width: max-content;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.reviewForm div input[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slideEffect {
    position: absolute;
    width: 100%;
    height: 0;
    top: -30px;
    background-color: #d18b3ab0;
    border-radius: 15px;
    transition: 1s cubic-bezier(0.49, -0.01, 0, 1.58);
}

.slideEffectActive {
    width: 100%;
    height: 100%;
    top: 0;
}

@media screen and (max-width: 782px) {
    .formHolder {
        width: 70%;
    }

}

@media screen and (max-width: 500px) {
    .formHolder {
        width: 85%;
    }

    .gridInputs {
        margin: 15px 0;
        display: block;
    }

    .reviewForm div input[name=name],
    .reviewForm div input[name=email] {
        height: 22px;
        font-size: 18px;
        margin-top: 5px;
    }

    .reviewForm div textarea {
        margin-top: 5px;
    }

}
