$spans: slog_0, slog_1, slog_2, slog_3, slog_4, slog_5, slog_6, slog_7, slog_8;
$spanswidth: 50px, 55px, 67px, 65px, 33px, 43px, 50px, 50px, 30px;
$totalwidth: 0;

#slog_0,
#slog_1,
#slog_2,
#slog_3,
#slog_4,
#slog_5,
#slog_6,
#slog_7,
#slog_8 {
  color: rgb(10, 84, 107);
}

@mixin title-animation($animation_name, $tata) {
  @keyframes #{$animation_name} {
    0% {
      transform: translateX(0);
      opacity: 0;
      position: absolute;
    }
    98% {
      transform: translateX(#{$tata});
      opacity: 1;
    }
    100% {
      position: relative;
    }
  }
}

@mixin animation-data($str, $delay) {
  animation: #{$str};
  animation-fill-mode: both;
  animation-delay: #{$delay};
}

.hello {
  @for $i from 1 through length($spans) {
    $totalwidth: $totalwidth + (nth($spanswidth, $i));
    @include title-animation(nth($spans, $i), calc(-50vw + $totalwidth));
  }
  //   @each $span in $spans {
  //     @include title-animation($span, width($span));
  //   }
  text-align: center;
  span {
    @for $i from 0 to length($spans) {
      &:nth-child(#{$i + 1}) {
        top: 0;
        right: 0;
        @include animation-data(nth($spans, $i + 1) 4s ease-in-out, $i * 1s);
      }
    }
  }
}
