// main theme
// $bg_color1: #d18a3a;
// $bg_color2: #d6ab7e;
// $bg_color3: #ece9e4;
// $bg_color4: #e1d8d1;
// $bg_color5: #c3b39c;
$bg_color1: #e78766;
$bg_color2: #a35342;
$bg_color3: #caeef7;
$bg_color4: #6b879d;
$bg_color5: #404c5d;
$color1: black;
$color2: white;
$color3: #404c5d;
// btn-colors
$close_btn: red;
$open_btn: green;
$submit_btn: blue;
