body {
  background-color: #e1d8d1;
  padding: 0px;
  font-family: "Raleway";
  font-weight: 800;
  color: rgb(44, 43, 43);
  /* background-image: url('./bgimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

/* @keyframes slog0 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 0;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog1 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 60px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog2 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 120px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog3 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 180px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog4 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 240px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog5 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 300px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog6 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 360px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog7 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 420px;
    opacity: 1;
    top: 0;
  }
}
@keyframes slog8 {
  0% {
    left: 100%;
    opacity: 0;
    top: 0;
  }
  50% {
    top: -30px;
  }
  100% {
    left: 480px;
    opacity: 1;
    top: 0;
  }
}

#slog_0,
#slog_1,
#slog_2,
#slog_3,
#slog_4,
#slog_5,
#slog_6,
#slog_7,
#slog_8 {
  opacity: 0;
  position: absolute;
}

#slog_0 {
  animation: slog0 2s ease-in-out;
  animation-fill-mode: both;
}
#slog_1 {
  animation: slog1 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}
#slog_2 {
  animation: slog2 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4s;
}
#slog_3 {
  animation: slog3 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 6s;
}
#slog_4 {
  animation: slog4 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 8s;
}
#slog_5 {
  animation: slog5 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 10s;
}
#slog_6 {
  animation: slog6 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 12s;
}
#slog_7 {
  animation: slog7 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 14s;
}
#slog_8 {
  animation: slog8 2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 16s;
} */
