body {
  background-color: #e1d8d1;
  padding: 0px;
  font-family: "Raleway";
  font-weight: 800;
  color: rgb(44, 43, 43);
  /* background-image: url('./bgimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
