.main {
  margin: 0;
}

.arrowsHolder {
  position: relative;
}
.arrowsHolder .leftArrow1,
.arrowsHolder .rightArrow {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.arrowsHolder .leftArrow1:hover,
.arrowsHolder .rightArrow:hover {
  transform: scale(1.1);
}
.arrowsHolder .leftArrow1.hide,
.arrowsHolder .rightArrow.hide {
  display: none;
}
.arrowsHolder .rightArrow {
  top: 0;
  right: 15%;
}
.arrowsHolder .leftArrow1 {
  top: 0;
  left: 15%;
}

.calTableHolder {
  position: relative;
  display: flex;
  justify-content: center;
  height: 260px;
}
.calTableHolder .loading {
  position: absolute;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.calTableHolder .loading img {
  height: 100%;
}
.calTableHolder .loading.hideLoading {
  opacity: 0;
}
.calTableHolder .slider {
  transform: translate(0, 0);
  position: absolute;
  top: 0;
  left: calc(50% - 153px);
  transform-origin: center;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out, visibility 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.calTableHolder .slider.nextSlide {
  transform: translate(100%, 0);
}
.calTableHolder .slider.prevSlide {
  transform: translate(-100%, 0);
}
.calTableHolder .slider.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.calTableHolder .slider.active.loadingDates {
  opacity: 0;
}
.calTableHolder .slider.bluredSlide {
  opacity: 0.5;
}
.calTableHolder .timePicker1 {
  position: absolute;
  top: 0;
  left: calc(50% - 153px);
  visibility: hidden;
  opacity: 0;
  height: 255px;
  width: 307px;
  transition: all 1s ease;
  z-index: 11;
  background-color: #404c5d;
  border-radius: 1.5rem;
}
.calTableHolder .timePicker1 p {
  margin-top: 45px;
}
.calTableHolder .timePicker1 div {
  display: flex;
  justify-content: space-around;
}
.calTableHolder .timePicker1 div span {
  margin: 10px 0;
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.calTableHolder .timePicker1 div span:hover {
  background-color: #6b879d;
}
.calTableHolder .timePicker1.showTimePicker {
  opacity: 1;
  visibility: visible;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
  cursor: pointer;
  z-index: 12;
}
.btnClose {
  top: 10px;
  right: 10px;
  color: white;
  background-color: red;
  padding: 5px 10px;
}
.btnOpen {
  background-color: green;
}

.calTable {
  margin: 10px auto;
  font-size: 1.3rem;
}
.calTable thead {
  font-size: 1.1rem;
}
.calTable thead th {
  width: 40px;
}
.calTable tbody tr th[data-empty=no] {
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  transition: background-color 0.5s ease;
}
.calTable tbody tr th[data-empty=no].availableDates {
  background-color: blue;
  color: white;
}
.calTable tbody tr th[data-empty=no]:hover {
  background-color: aqua;
}
.calTable tbody tr th[data-empty=no].pickedDateandTime {
  background-color: green;
  color: wheat;
}
.calTable tbody tr th[data-empty=no].notAvailableDate {
  background-color: transparent;
  color: gray;
  cursor: not-allowed;
}
.calTable tbody tr th[data-empty=no].busyDates {
  background-color: red;
  color: white;
}
.calTable tbody tr th[data-empty=no] span {
  display: block;
  margin: 0;
  font-size: 10px;
}/*# sourceMappingURL=calendar.module.css.map */