@import "./general/colors";
// date colors on different events
$hover_date: aqua;
$available_date: blue;
$busy_date: red;
$not_available_date: gray;
$picked_date: green;

.main {
  margin: 0;
}

.arrowsHolder {
  position: relative;
  .leftArrow1,
  .rightArrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    &.hide {
      display: none;
    }
  }
  .rightArrow {
    top: 0;
    right: 15%;
  }
  .leftArrow1 {
    top: 0;
    left: 15%;
  }
}

.calTableHolder {
  position: relative;
  display: flex;
  justify-content: center;
  height: 260px;
  .loading {
    position: absolute;
    height: 100%;
    img {
      height: 100%;
    }
    transition: opacity 0.5s ease-in-out;
    &.hideLoading {
      opacity: 0;
    }
  }
  .slider {
    transform: translate(0, 0);
    position: absolute;
    top: 0;
    left: calc(50% - 153px);
    transform-origin: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out,
      visibility 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    &.nextSlide {
      transform: translate(100%, 0);
    }
    &.prevSlide {
      transform: translate(-100%, 0);
    }
    &.active {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
      &.loadingDates {
        opacity: 0;
      }
    }
    &.bluredSlide {
      opacity: 0.5;
    }
  }
  .timePicker1 {
    position: absolute;
    top: 0;
    left: calc(50% - 153px);
    visibility: hidden;
    opacity: 0;
    height: 255px;
    width: 307px;
    transition: all 1s ease;
    z-index: 11;
    background-color: $bg_color5;
    border-radius: 1.5rem;
    p {
      margin-top: 45px;
    }
    div {
      display: flex;
      justify-content: space-around;

      span {
        margin: 10px 0;
        padding: 5px;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: $bg_color4;
        }
      }
    }
    &.showTimePicker {
      opacity: 1;
      visibility: visible;
    }
  }
}

.btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  width: min-content;
  position: absolute;

  cursor: pointer;
  z-index: 12;
  &Close {
    top: 10px;
    right: 10px;
    color: white;
    background-color: $close_btn;
    padding: 5px 10px;
  }
  &Open {
    background-color: $open_btn;
  }
}

.calTable {
  margin: 10px auto;
  font-size: 1.3rem;

  thead {
    font-size: 1.1rem;
    th {
      width: 40px;
    }
  }
  tbody {
    tr {
      th[data-empty="no"] {
        cursor: pointer;
        border-radius: 5px;
        padding: 2px;
        transition: background-color 0.5s ease;

        &.availableDates {
          background-color: $available_date;
          color: white;
        }
        &:hover {
          background-color: $hover_date;
        }
        &.pickedDateandTime {
          background-color: $picked_date;
          color: wheat;
        }
        &.notAvailableDate {
          background-color: transparent;
          color: $not_available_date;
          cursor: not-allowed;
        }
        &.busyDates {
          background-color: $busy_date;
          color: white;
        }
        span {
          display: block;
          margin: 0;
          font-size: 10px;
        }
      }
    }
  }
}
