@import "./general/colors";
@import "./general/fonts";
@import "./general/responsive";

// font sizes
$lg_fz: 2.4em;
$slg_fz: 1.8em;
$md_fz: 1.2em;
$sm_fz: 1em;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// for all Content component
.general {
  padding: 0px;
  position: relative;
  top: 170px;
}

.maintitle,
.secondarytitle {
  text-align: center;
  color: $color2;
}

.maintitle {
  font-weight: 800;
  font-size: $lg_fz;
}

.secondarytitle {
  font-weight: 500;
  font-size: $slg_fz;
}

// Pricelist component
.pricelistHolder {
  margin-bottom: 50px;
}

.pricelistTitle1 {
  color: $color2;
  margin: 30px 0px;
  font-weight: 800;
  font-size: $lg_fz;
  text-align: center;
}

.pricelist {
  display: block;
  width: 85%;
  margin: auto;
  .pricelistItem {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: 
      "photo title"
      "photo desc"
      "photo price"
      ;
    position: relative;
    border-radius: 30px;
    margin-bottom: 12px;
    color: $bg_color3;
    &.female {
      background-color: $bg_color2;
    }
    &.male {
      background-color: $bg_color1;
    }
    &.other {
      background-color: $bg_color5;
    }
  
    .pricelistItemImgCont {
      grid-area: photo;
      padding: 5px;
      margin: 10px;
  
      .pricelistItemImg {
        width: 177px;
        height: 235px;
        object-fit: cover;
        border-radius: 30px;
      }
    }
  
    .pricelistItemName {
      grid-area: title;
      text-align: center;
      font-size: $slg_fz;
      font-weight: 900;
      margin-bottom: 10px;
      padding-top: 10px;
    }
  
    .pricelistItemDesc {
      grid-area: desc;
      margin-bottom: 50px;
      font-weight: 500;
      font-size: $md_fz;
      overflow: hidden;
      padding: 2px;
    }
  
    .pricelistItemPrice {
      grid-area: price;
      font-size: $md_fz;
      font-weight: 900;
      display: block;
      text-align: right;
      margin: 0 25px 20px 0;
    }
  }
}



// Contacts component
.contacts {
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  h2 {
    font-size: $lg_fz;
    font-weight: 800;
    color: $color2;
  }

  .map {
    margin: 25px 0px;
    text-align: center;
    a {
      img {
        width: 70%;
      }
    }
  }

  .address,
  .phonenumber {
    font-size: $sm_fz;
    font-weight: 800;
    color: $color2;
  }
}

.forModalBtns {
  text-align: center;
}

@media screen and (max-width: $tblt_w) {
  .general {
    top: 50px;
  }

  .map a img {
    width: 90vw;
  }

  .pricelist {
    width: 70vw;
    .pricelistItem{
      .pricelistItemImgCont {
        padding: 10px;
        margin: 0px;
    
        .pricelistItemImg {
          width: 150px;
          height: 220px;
          object-fit: cover;
          border-radius: 20px;
        }
      }
  }
    
  }

  .pricelistItemName{
    font-size: $slg_fz;
  }
}

@media screen and (max-width: $mbl_w) {

  .pricelist {
    width: 85vw;
    .pricelistItem {
      grid-template-areas: 
      "title title"
      "photo desc"
      "photo price"
      ;

      .pricelistItemImgCont {
        padding: 10px;
        margin-right: 10px;
    
        .pricelistItemImg {
          width: 120px;
          height: 180px;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    
      .pricelistItemName{
        text-align: center;
        padding-top: 10px;
        padding-left: 5px;
      }
    
      .pricelistItemDesc {
        margin-top: 15px;
        
      }
    
    }
  }
  
}
