@import "./general/colors";
@import "./general/fonts";
@import "./general/responsive";


//font sizes 
$lg_fz: 2.2em;
$lg_fz_tblt: 1.5em;
$md_fz: 1.2em;
$sm_fz: 1em;

.general {
  grid-area: header;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  color: $color2;
  background-color: $bg_color2;
  z-index: 990;
}

.logoholder {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoimg {
  margin-right: 20px;
  height: 120px;
  border-radius: 15px;
}

.logoname {
  padding: 5px;
  font-family: $main_font;
  font-size: $lg_fz;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: $sm_fz;
}

.contacts > a,
.contacts > div {
  margin: 5px 20px;
}

.phone {
  position: relative;
  text-align: center;
}

.phone > div {
  padding: 5px;
  font-size: $sm_fz;
}

.callMeBack {
  font-family: $main_font;
  font-weight: 700;
  text-decoration: none;
  background-color: $bg_color2;
  padding: 7px;
  border-radius: 10px;
  font-size: $sm_fz;
  color: $color2;
  cursor: pointer;
  border: none;
}

.phoneinside {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.facebooklink {
  margin-right: 10px;
}
.facebooklink,
.instalink,
.appointmentlink {
  text-align: center;
  text-decoration: none;
  color: white;
}

.appointmentlink {
  position: relative;
}

.appointmenticon {
  position: absolute;
  left: -2px;
  top: 1px;
}

.forScheduleCreation {
  display: none;
}

.burgericon {
  display: none;
}



// tablet size
@media screen and (max-width: $tblt_w) {
  .general,
  .active {
    display: block;
    z-index: 999;
  }

  .logoname{
    font-size: $lg_fz_tblt;
  }

  .burgericon {
    display: inline;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .logoholder {
    justify-content: left;
    left: 0;
    transition: 1s ease-in-out;
    /* background-color: #D18A3A; */
  }

  .logoholderopen {
    left: calc(50% - 115px);
    /* background-color: #2c2926; */
  }

  .logoimg {
    margin-right: 10px;
    margin-left: 5px;
    width: 35px;
    height: 50px;
  }

  .contacts {
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: 1s ease-in-out;
  }

  .contactsopen {
    display: flex;
    height: 120px;
  }
}

// mobile size
@media screen and (max-width: $mbl_w) {
  .logoname {
    font-size: $md_fz;
  }

  .logoimg {
    margin-right: 10px;
    margin-left: 5px;
    width: 35px;
    height: 50px;
  }

  .contacts {
    flex-direction: column;
  }

  .contactsopen {
    height: 250px;
  }
}
