@import "./general/colors";
@import "./general/fonts";
@import "./general/responsive";

// font sizes
$lg_fz: 2.4em;
$slg_fz: 1.8em;
$md_fz: 1.2em;
$sm_fz: 1em;

.general {
  margin: 10px 0;
  text-align: center;
}

.rateTitle {
  margin: 50px 0 30px 0;
  font-size: $lg_fz;
  font-weight: 800;
  color: $color2;
}

.formHolder {
  position: relative;
  width: 80%;
  border-radius: 40px;
  margin: auto;
  background-color: $bg_color5;
  transition: 1s ease-in-out;
  font-size: $slg_fz;
  color: $color2;
}

/* .formHolder:hover,
  .formHolder:focus-within{
      background-color: #d18b3ab0;
  } */

.reviewForm {
  padding: 10px 0;
  position: relative;
  z-index: 5;
}

.gridInputs {
  margin: 15px 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  label{
    margin: 0 10px 0 15px;
  }
}

.flexInputs {
  display: flex;
  justify-content: center;
  position: relative;
}

.flexInputs label {
  cursor: pointer;
}

.reviewForm div input[name="name"],
.reviewForm div input[name="email"] {
  width: 70%;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid gray;
  margin: auto;
  font-size: $sm_fz;
}

.reviewForm div textarea[name="feedback"] {
  width: 70%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 7px;
  margin: auto;
  font-size: $sm_fz;
}

.reviewForm div input[type="submit"] {
  width: max-content;
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: $color2;
  color: $bg_color5;
  font-size: $sm_fz;
  font-family: $main_font;
  font-weight: 800;
}

.reviewForm div input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slideEffect {
  position: absolute;
  width: 100%;
  height: 0;
  top: -30px;
  background-color: $bg_color2;
  border-radius: 15px;
  transition: 1s cubic-bezier(0.49, -0.01, 0, 1.58);
}

.slideEffectActive {
  width: 100%;
  height: 100%;
  top: 0;
}

@media screen and (max-width: $tblt_w) {
  .formHolder {
    width: 80%;
  }
  .gridInputs{
    grid-template-columns: min-content 1fr;
  }
}

@media screen and (max-width: $mbl_w) {
  .formHolder {
    width: 85%;
  }

  .gridInputs {
    margin: 15px 0;
    display: block;
  }

  .reviewForm div input[name="name"],
  .reviewForm div input[name="email"] {
    height: 22px;
    font-size: $sm_fz;
    margin-top: 5px;
  }

  .reviewForm div textarea {
    margin-top: 5px;
  }
}
